/* ============================================= */
/*              about                            */
/* ============================================= */

/* About */
#about {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: left;
  font-size: $medium;
  p {
    margin-top: 2rem;
  }
}
