/* ============================================= */
/*              Header                           */
/* ============================================= */

.header {
  height: 100%;
}
#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  padding-bottom: 2rem;
  border-radius: 10px;
  border-bottom: 1px solid $accent-secondary;
  h1 {
    margin: 0;
    font-size: $large;
  }
  ul {
    font-size: $small;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
#header-nav {
  /* Desktop nav */
  .desktop-nav {
    display: none;
    li {
      margin-left: 2rem;
    }
  }
  /* Mobile nav */
  .mobile-nav {
    @include flexy();
  }
}
