/* ============================================= */
/*              Images                           */
/* ============================================= */

.svg-icon {
  width: 2rem;
  fill: $text-primary;
}
.svg-icon-nav {
  width: 1.5rem;
  fill: $text-primary;
}
.svg-icon-mobile-nav {
  width: 1.5rem;
  fill: $bg-primary;
}
