/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $md) {
  body {
    margin: 1rem 4rem;
  }
  .overlay {
    font-size: $large;
  }
  #about {
    text-align: center;
    font-size: 1.5rem;
  }
  #header-nav {
    .desktop-nav {
      font-size: $medium;
      display: flex;
    }
    .hamburger {
      display: none;
    }
  }
  #work {
    .work-title {
      font-size: $medium;
    }
    .work-header {
      font-size: $extra-large;
    }
    img {
      width: 70%;
    }
  }
  .contact-info {
    &-item {
      font-size: $large;
    }
  }
  .svg-icon {
    width: 2rem;
  }
}

@media (min-width: $lg) {
  #header-nav {
    h1 {
      font-size: $extra-large;
    }
  }
  #about {
    font-size: $large;
  }
  #work {
    .work-title {
      font-size: $large;
    }
  }
}
