/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $md) {
  body {
    margin: 1rem 4rem;
  }
  .overlay {
    font-size: $large;
  }
  #about {
    text-align: center;
    font-size: $large;
  }
  #header-nav {
    h1 {
      font-size: $extra-large;
    }
    .desktop-nav {
      font-size: $medium;
      display: flex;
    }
    .hamburger {
      display: none;
    }
  }
}

@media (min-width: $lg) {
}
