/* ============================================= */
/*              overlay                          */
/* ============================================= */

.overlay {
  @include flexy($just: center, $align: center);
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
  background: black;
  height: 100vh;
  width: 100vw;
  &-tv {
    position: absolute;
    border-radius: 15px;
    fill: $text-primary;
    top: 70px;
    left: 15px;
    width: 350px;
    box-shadow: -7px 30px 18px -30px lighten($accent-secondary, 0%);
  }

  &-animation {
    border-radius: 15px;
    position: absolute;
    top: 178px;
    left: 45px;
    width: 220px;
    height: 220px;
  }
}
