/* ============================================= */
/*              work                             */
/* ============================================= */

#work {
  padding-top: 2rem;
  .work-item {
    margin-top: 6rem;
    text-align: left;
    padding-bottom: 4rem;
  }
  .work-title {
    color: #f2f2f280;
    display: none;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: $small;
    padding: 3rem 2rem 1.7rem;
    background: #05050580;
    opacity: 0;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 4px $accent-secondary;
  }
  .work-header {
    font-size: $large;
    padding: 2rem 0 0;
    margin: 4rem 0 0;
    text-align: center;
  }
  .work-item-line {
    width: 50%;
    text-align: center;
    color: $accent-secondary;
  }
  video,
  img {
    // border-radius: 5px;
    width: 90%;
    display: block;
    margin: 2rem auto;
  }
  video[poster] {
    // border-radius: 5px;
    width: 90%;
    display: block;
    margin: 2rem auto;
  }
}
