/* ============================================= */
/*              Typography                       */
/* ============================================= */

/* "Brightfate font" */
@font-face {
  font-family: brightfate;
  src: url("../Brightfate.otf");
}

html {
  scroll-behavior: smooth;
}

/* Main styles */
body {
  margin: 0 1.5rem;
  padding: 0;
  background: $bg-primary;
  color: $text-primary;
  font-family: brightfate, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav,
h1,
h2,
h3 {
  text-transform: uppercase;
}
h1:hover {
  opacity: 0.8;
  // color: $accent-primary;
}
a {
  transition: 0.2s ease;
  color: $text-primary;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  // color: $accent-primary;
}
