/* ============================================= */
/*              Typography                       */
/* ============================================= */

/* "Brightfate font" */
@font-face {
  font-family: brightfate;
  src: url("../Brightfate.otf");
}
:root {
  /* colors */
  --bg-primary: #050505;
  --text-primary: #f2f2f2;
  --accent-primary: #03dac5;
  --accent-secondary: #3700b3;

  /* font sizes */
  --small: 1rem;
  --medium: 1.3rem;
  --large: 2rem;
  --extra-large: 3rem;
}
html {
  scroll-behavior: smooth;
}

/* Main styles */
body {
  margin: 0 1.5rem;
  padding: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: brightfate, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav,
h1,
h2,
h3 {
  text-transform: uppercase;
}
h1:hover {
  color: var(--accent-primary);
}
a {
  color: var(--text-primary);
  text-decoration: none;
}
a:hover {
  color: var(--accent-primary);
}
.header {
  height: 100vh;
}

/* Header */
#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0;
}
#header-nav h1 {
  margin: 0;
  font-size: var(--large);
}
#header-nav ul {
  font-size: var(--small);
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Desktop nav */
#header-nav .desktop-nav li {
  margin-left: 2rem;
}
#header-nav .desktop-nav {
  display: none;
}

/* Mobile nav */
#header-nav .mobile-nav {
  display: flex;
}
.hamburger {
  font-size: 2rem;
  cursor: pointer;
}
.hamburger:hover {
  fill: var(--accent-primary);
}

/* About */
#about {
  text-align: left;
  font-size: var(--medium);
}

#work img {
  display: block;
  margin: 2rem auto;
}

/* Medium screens and higher */
@media (min-width: 768px) {
  body {
    margin: 1rem 4rem;
  }
  #about {
    text-align: center;
    font-size: var(--large);
  }
  #header-nav h1 {
    font-size: var(--extra-large);
  }
  #header-nav .desktop-nav {
    font-size: var(--medium);
    display: flex;
  }
  #header-nav .mobile-nav {
    display: none;
  }
}
